body {
    background-color: rgb(193, 213, 231);
}

#kepala{
    background-color: red;
}

#kiri{
    background-color: yellow;
}

#kanan{
    background-color: green;
}

#kaki{
    background-color: blue;
}

.besartulisan{
    font-size: xx-large;
}

.warnatulisan{
    color: black;
}

.ukurankontak{
    height: 100pk;
}